{{ define "__alert_silence_link" -}}
    {{ .ExternalURL }}/#/silences/new?filter=%7B
    {{- range .CommonLabels.SortedPairs -}}
        {{- if ne .Name "alertname" -}}
            {{- .Name }}%3D"{{- .Value | urlquery -}}"%2C%20
        {{- end -}}
    {{- end -}}
    alertname%3D"{{- .CommonLabels.alertname -}}"%7D
{{- end }}

{{ define "__alert_dashboard_link" -}}
    {{- if eq .CommonLabels.job "node-exporter" -}}
        {{- if eq (len .Alerts) 1 -}}
        https://inframon.storpool.com/d/rYdddlPWk/node-exporter-full?orgId=1&var-node=
        {{- .CommonLables.instance -}}
        {{- end -}}
    {{- end -}}
{{- end }}


{{ define "slack.storpool.username" }}Infrastructure Alert{{ end }}

{{ define "slack.storpool.title" -}}
  [{{ .Status | toUpper -}}
  {{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{- end -}}
  ] {{ .CommonLabels.alertname }}
{{- end }}

{{ define "__alert_severity" -}}
    {{- if eq .CommonLabels.severity "critical" -}}
    *Severity:* `Critical`
    {{- else if eq .CommonLabels.severity "warning" -}}
    *Severity:* `Warning`
    {{- else if eq .CommonLabels.severity "info" -}}
    *Severity:* `Info`
    {{- else -}}
    *Severity:* :question: {{ .CommonLabels.severity }}
    {{- end }}
{{- end }}

{{ define "slack.storpool.text" -}}
    {{ template "__alert_severity" . }}
    {{- range .Alerts -}}
        {{- "\n" -}}
        {{- if .Annotations.slack_full_msg -}}
        • {{ .Annotations.slack_full_msg }}
        {{- end -}}
    {{- end }}
{{- end }}

{{ define "slack.storpool.color" -}}
    {{ if eq .Status "firing" -}}
        {{ if eq .CommonLabels.severity "warning" -}}
            warning
        {{- else if eq .CommonLabels.severity "critical" -}}
            danger
        {{- else -}}
            #439FE0
        {{- end -}}
    {{ else -}}
    good
    {{- end }}
{{- end }}
