---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAlertmanagerConfig
metadata:
  name: internal
  namespace: internal-monitoring
spec:
  route:
    receiver: slack_send_resolved
    group_by:
      - alertname
      - instance
    group_wait: 1m
    group_interval: 5m
    repeat_interval: 12h
    routes:
      - receiver: slack_dont_send_resolved
        matchers:
          - name: severity = info
      - receiver: slack_send_pre_merge
        matchers:
          - name: jenkins_job = new-kernels-check
  receivers:
    - name: 'slack_send_resolved'
      slack_configs:
        - channel: '#infrastructure-alerts'
          api_url:
            name: alerting-slack-api
            key: url
          color: '{% raw %}{{ template "slack.storpool.color" . }}{% endraw %}'
          title: '{% raw %}{{ template "slack.storpool.title" . }}{% endraw %}'
          title_link: '{% raw %}{{ template "slack.storpool.title_link" . }}{% endraw %}'
          text: '{% raw %}{{ template "slack.storpool.text" . }}{% endraw %}'
          fallback: '{% raw %}{{ template "slack.storpool.fallback" . }}{% endraw %}'
          send_resolved: true
          actions:
            - type: button
              text: 'Dashboard :grafana:'
              url: '{% raw %}{{ template "__alert_dashboard_link" . }}{% endraw %}'
            - type: button
              text: 'Silence :no_bell:'
              url: '{% raw %}{{ template "__alert_silence_link" . }}{% endraw %}'
    - name: 'slack_dont_send_resolved'
      slack_configs:
        - channel: '#infrastructure-alerts'
          api_url:
            name: alerting-slack-api
            key: url
          color: '{% raw %}{{ template "slack.storpool.color" . }}{% endraw %}'
          title: '{% raw %}{{ template "slack.storpool.title" . }}{% endraw %}'
          title_link: '{% raw %}{{ template "slack.storpool.title_link" . }}{% endraw %}'
          text: '{% raw %}{{ template "slack.storpool.text" . }}{% endraw %}'
          fallback: '{% raw %}{{ template "slack.storpool.fallback" . }}{% endraw %}'
          send_resolved: false
          actions:
            - type: button
              text: 'Dashboard :grafana:'
              url: '{% raw %}{{ (index .Alerts 0).Annotations.node_stats_url }}{% endraw %}'
            - type: button
              text: 'Silence :no_bell:'
              url: '{% raw %}{{ template "__alert_silence_link" . }}{% endraw %}'
    - name: 'slack_send_pre_merge'
      slack_configs:
        - channel: '#pre-merge'
          api_url:
            name: alerting-slack-api
            key: url
          color: '{% raw %}{{ template "slack.storpool.color" . }}{% endraw %}'
          title: '{% raw %}{{ template "slack.storpool.title" . }}{% endraw %}'
          title_link: '{% raw %}{{ template "slack.storpool.title_link" . }}{% endraw %}'
          text: '{% raw %}{{ template "slack.storpool.text" . }}{% endraw %}'
          fallback: '{% raw %}{{ template "slack.storpool.fallback" . }}{% endraw %}'
          send_resolved: true
          actions:
            - type: button
              text: 'Dashboard :grafana:'
              url: '{% raw %}{{ template "__alert_dashboard_link" . }}{% endraw %}'
            - type: button
              text: 'Silence :no_bell:'
              url: '{% raw %}{{ template "__alert_silence_link" . }}{% endraw %}'
  inhibit_rules:
    - source_matchers:
        - severity = critical
      target_matchers:
        - severity = warning
      equal: [ 'alertname', 'instance', 'location' ]
    - source_matchers:
        - BGPSessionDown
      target_matchers:
        - BGPNoImportedPrefixes
      equal: [ 'name', 'instance' ]
