---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAlertmanagerConfig
metadata:
  name: internal
  namespace: internal-monitoring
spec:
  route:
    receiver: slack_send_resolved
    group_by:
      - alertname
    group_wait: 1m
    group_interval: 5m
    repeat_interval: 12h
    routes:
      - receiver: slack_dont_send_resolved
        matchers:
          - severity = info
      - receiver: slack_send_pre_merge
        matchers:
          - jenkins_job = new-kernels-check
  receivers:
    - name: 'slack_send_resolved'
      slack_configs:
        - channel: '#infrastructure-alerts'
          api_url:
            name: alerting-slack-api
            key: url
          color: '{{ template "slack.storpool.color" . }}'
          title: '{{ template "slack.storpool.title" . }}'
          title_link: '{{ template "slack.storpool.title_link" . }}'
          text: '{{ template "slack.storpool.text" . }}'
          fallback: '{{ template "slack.storpool.fallback" . }}'
          send_resolved: true
          actions:
            - type: button
              text: 'Dashboard :grafana:'
              url: '{{ template "__alert_dashboard_link" . }}'
            - type: button
              text: 'Silence :no_bell:'
              url: '{{ template "__alert_silence_link" . }}'
    - name: 'slack_dont_send_resolved'
      slack_configs:
        - channel: '#infrastructure-alerts'
          api_url:
            name: alerting-slack-api
            key: url
          color: '{{ template "slack.storpool.color" . }}'
          title: '{{ template "slack.storpool.title" . }}'
          title_link: '{{ template "slack.storpool.title_link" . }}'
          text: '{{ template "slack.storpool.text" . }}'
          fallback: '{{ template "slack.storpool.fallback" . }}'
          send_resolved: false
          actions:
            - type: button
              text: 'Dashboard :grafana:'
              url: '{{ (index .Alerts 0).Annotations.node_stats_url }}'
            - type: button
              text: 'Silence :no_bell:'
              url: '{{ template "__alert_silence_link" . }}'
    - name: 'slack_send_pre_merge'
      slack_configs:
        - channel: '#pre-merge'
          api_url:
            name: alerting-slack-api
            key: url
          color: '{{ template "slack.storpool.color" . }}'
          title: '{{ template "slack.storpool.title" . }}'
          title_link: '{{ template "slack.storpool.title_link" . }}'
          text: '{{ template "slack.storpool.text" . }}'
          fallback: '{{ template "slack.storpool.fallback" . }}'
          send_resolved: true
          actions:
            - type: button
              text: 'Dashboard :grafana:'
              url: '{{ template "__alert_dashboard_link" . }}'
            - type: button
              text: 'Silence :no_bell:'
              url: '{{ template "__alert_silence_link" . }}'
  inhibit_rules:
    - source_matchers:
        - severity = critical
      target_matchers:
        - severity = warning
      equal: [ 'alertname', 'instance', 'location' ]
    - source_matchers:
        - alertname = BGPSessionDown
      target_matchers:
        - alertname = BGPNoImportedPrefixes
      equal: [ 'name', 'instance' ]
