{% for host in (groups['routers'] | default([])) %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}:9324
  labels:
    instance: {{ host }}
    type: bare-metal
    location: {{ hostvars[host]['site'] }}
    environment: production
{% endfor %}
