{% for host in groups['baremetal_machines'] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}:9290
  labels:
    instance: {{ host }}
    location: {{ hostvars[host]['site'] }}
    environment: production
    ipmi_module: {{ hostvars[host]['config_context']['ipmi_module'] | default('default') }}
{% endfor %}
