{% for host in (groups['fortigate_firewalls'] | default([])) %}
- targets:
    - https://{{ hostvars[host]['primary_ip'] | default(hostvars[host]['ansible_host']) }}:8443
  labels:
    instance: {{ host }}
    type: fortigate
    location: {{ hostvars[host]['site'] }}
    environment: production
{% endfor %}