{% for host in (groups['virtual_machines'] + groups['baremetal_machines']) %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}:9100
  labels:
    instance: {{ host }}
{% if host in groups['baremetal_machines'] %}
    type: bare-metal
    role: {{ hostvars[host]['role'] }}
    location: {{ hostvars[host]['site'] }}
{% else %}
    type: virtual-machine
    location: moonstone
{% endif %}
    environment: production
{% endfor %}