{% for host in (groups['virtual_machines'] + groups['baremetal_machines'] + groups['network_devices'] + groups['power_devices']) %}
- targets:
{% if hostvars[host]['ansible_host'] | ansible.utils.ipaddr %}
    - {{ hostvars[host]['ansible_host'] }}
{% else %}
    - {{ lookup('dig', hostvars[host]['ansible_host']) }}
{% endif %}
  labels:
    instance: {{ host }}
{% if 'site' in hostvars[host] %}
    location: {{ hostvars[host]['site'] }}
{% else %}
    location: moonstone
{% endif %}
    environment: production
{% endfor %}
