{% for host in (groups['influxdb_service'] | default([])) %}
- targets:
    - {{ hostvars[host]["ansible_host"] }}:{{ hostvars[host]["services"]["influxdb"] }}
  labels:
    instance: {{ host }}
{% if host in (groups['baremetal_machines'] | default([])) %}
    location: {{ hostvars[host]['site'] }}
{% else %}
    location: {{ hostvars[host]["location"] | default("undefined") }}
{% endif %}
    environment: production
{% endfor %}
