{% for host in (groups['jenkins_hosts'] | default([])) %}
- targets:
    - jenkins.storpool.net
  labels:
    instance: {{ host }}
    type: virtual-machine
    location: {{ hostvars[host]['location'] | default('undefined') }}
    environment: production
{% endfor %}
