{% for host in (groups['mysql_hosts'] | default([]))  %}
- targets:
    - {{ hostvars[host]["ansible_host"] }}:9104
  labels:
    instance: {{ host }}
    location: {{ hostvars[host]["location"] | default("undefined") }}
    environment: production
{% endfor %}
