{% for host in (groups['network_devices'] | default([])) %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}
  labels:
    instance: {{ host }}
    type: network-device
    location: {{ hostvars[host]['site'] }}
    environment: production
    snmp_mib: {{ hostvars[host]['config_context']['snmp_mib'] | default('if_mib') }}
{% endfor %}
