{% for host in groups['intel_baremetal'] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}:9738
  labels:
    instance: {{ host }}
    type: bare-metal
    location: {{ hostvars[host]['site'] }}
    environment: production
{% endfor %}
{% for host in groups['amd_baremetal'] %}
{% if "EPYC" in hostvars[host]["custom_fields"]["cpu_model"] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}:9710
  labels:
    instance: {{ host }}
    type: bare-metal
    location: {{ hostvars[host]['site'] }}
    environment: production
{% endif %}
{% endfor %}