{% for host in groups["all"] %}
{% if "healthcheck_url" in hostvars[host] and hostvars[host]["healthcheck_url"] | length %}
- targets:
{% for url in hostvars[host]["healthcheck_url"] %}
    - {{ url }}
{% endfor %}
  labels:
    instance: {{ host }}
    location: moonstone
    environment: production
{% endif %}
{% endfor %}
