{% for host in groups["all"] %}
{% if "healthchecks" in hostvars[host] and hostvars[host]["healthchecks"] | length %}
- targets:
{% for endpoint in hostvars[host]["healthchecks"] %}
    - {{ endpoint }}
{% endif %}
  labels:
    instance: {{ host }}
    location: moonstone
    environment: production
{% endif %}
{% endfor %}
