{% for host in groups['all'] %}
- targets:
{% if hostvars[host]['ansible_host'] | ipaddr %}
    - {{ hostvars[host]['ansible_host'] }}
{% elif 'ansible_fqdn' in hostvars[host] %}
    - {{ (lookup('dig', hostvars[host]['ansible_fqdn']) | first)['A'] }}
{% endif %}
  labels:
    instance: {{ host }}
{% if 'site' in hostvars[host] %}
    location: {{ hostvars[host]['site'] }}
{% else %}
    location: moonstone
{% endif %}
    environment: production
{% endfor %}
