{% for host in (groups['node_exporter_targets'] + groups['network_devices']) %}
- targets:
{% if hostvars[host]['ansible_host'] | ipaddr %}
    - {{ hostvars[host]['ansible_host'] }}
{% else %}
    - {{ lookup('dig', hostvars[host]['ansible_host']) }}
{% endif %}
  labels:
    instance: {{ host }}
{% if 'site' in hostvars[host] %}
    location: {{ hostvars[host]['site'] }}
{% else %}
    location: moonstone
{% endif %}
    environment: production
{% endfor %}
