{% if 'icmp_monitor' in groups %}
{% for host in groups['icmp_monitor'] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}
  labels:
    instance: {{ host }}
    location: 3dc
    environment: production
{% endfor %}
{% endif %}