{% for host in groups['baremetal_machines'] %}
- targets:
    - {{ ((hostvars[host]['interfaces'] | selectattr('mgmt_only') | first)['ip_addresses'] | first)['address'] | ansible.netcommon.ipaddr('address') }}
  labels:
    instance: {{ host }}
    location: {{ hostvars[host]['site'] }}
    environment: production
    ipmi_module: {{ hostvars[host]['config_context']['ipmi_module'] | default('default') }}
{% endfor %}