{% for host in groups['baremetal_machines'] %}
{% if hostvars[host]['interfaces'] | selectattr('mgmt_only') | length and 'omit-ipmi-monitor' not in hostvars[host]['tags'] %}
{% set ipmi_interface = hostvars[host]['interfaces'] | selectattr('mgmt_only') | first %}
{% if ipmi_interface['ip_addresses'] | length %}
- targets:
    - {{ ipmi_interface['ip_addresses'][0]['address'] | ansible.netcommon.ipaddr('address') }}
  labels:
    instance: {{ host }}
    location: {{ hostvars[host]['site'] }}
    environment: production
    ipmi_module: {{ hostvars[host]['config_context']['ipmi_module'] | default('default') }}
{% endif %}
{% endif %}
{% endfor %}
