{% for host in groups['node_exporter_targets'] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}:9100
  labels:
    instance: {{ host }}
{% if host in groups['baremetal'] and not hostvars[host]['is_virtual'] %}
    type: bare-metal
    location: {{ hostvars[host]['site'] }}
{% else %}
    type: virtual-machine
    location: moonstone
{% endif %}
    environment: production
{% endfor %}