{% if 'moonstone_monitor' in groups %}
{% for host in groups['moonstone_monitor'] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}:9100
  labels:
    instance: {{ host }}
    type: virtual-machine
    location: 3dc
    environment: production
{% endfor %}
{% endif %}