{% if 'lab_monitor' in groups %}
{% for host in groups['lab_monitor'] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}:9100
  labels:
    instance: {{ host }}
    location: nadezda
    environment: testing
{% endfor %}
{% endif %}