{% if '3dc_baremetal' in groups %}
{% for host in groups['3dc_baremetal'] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}:9100
  labels:
    instance: {{ host }}
    location: 3dc
    environment: production
{% endfor %}
{% endif %}