{% for host in groups["all"] %}
{% if "services" in hostvars[host] and "ssh" in hostvars[host]["services"] %}
- targets:
    - {{ hostvars[host]["ansible_host"] }}:{{ hostvars[host]["services"]["ssh"] }}
  labels:
    instance: {{ host }}
{% if host in groups['baremetal'] %}
    location: {{ hostvars[host]['site'] }}
{% else %}
    location: moonstone
{% endif %}
    environment: production
{% endif %}
{% endfor %}
