{% for host in groups["all"] %}
{% if "services" in hostvars[host] and "grafana" in hostvars[host]["services"] %}
- targets:
    - {{ hostvars[host]["ansible_host"] }}:{{ hostvars[host]["services"]["grafana"] }}
  labels:
    instance: {{ host }}
{% if host in groups["moonstone_monitor"] %}
    location: 3dc
    environment: production
{% endif %}
{% endif %}
{% endfor %}
