{% for host in groups['network_devices'] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}
  labels:
    instance: {{ host }}
    type: network-device
    location: {{ hostvars[host]['site'] }}
    environment: production
    snmp_mib: {{ hostvars[host]['snmp_mib'] }}
{% endfor %}
