{% if 'moonstone_monitor' in groups %}
{% for host in groups['moonstone_monitor'] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}:9100
  labels:
    instance: {{ hostvars[host]['name'] }}
    node_stats_url: http://{{ hostvars['monitoring-stack']['ansible_fqdn'] }}/d/rYdddlPWk/node-status?orgId=1&var-DS_PROMETHEUS=default&var-job=node-exporter&var-node={{ host }}
{% endfor %}
{% endif %}