{% if 'monitor_nodes' in groups %}
{% for host in groups['monitor_nodes'] %}
- targets:
    - {{ hostvars[host]['ansible_host'] }}
  labels:
    instance: {{ hostvars[host]['name'] }}
    location: 3dc
    environment: production
{% endfor %}
{% endif %}