[Unit]
Description=Promscale Maintenance Service
Documentation=https://github.com/timescale/promscale
Wants=promscale-exec-maintenace.timer

[Service]
Type=oneshot
User=promscale
Group=promscale
EnvironmentFile={{ promscale_config_path }}
ExecStart=/usr/bin/psql --host localhost --port 5432 --dbname $PROMSCALE_DB_NAME --user $PROMSCALE_DB_USER -c 'CALL prom_api.execute_maintenance();'

[Install]
WantedBy=multi-user.target
