PROMSCALE_DB_USER={{ promscale_postgres_username }}
PROMSCALE_DB_PASSWORD={{ promscale_postgres_password }}
PROMSCALE_DB_NAME={{ promscale_postgres_database }}
PROMSCALE_DB_SSL_MODE=allow
PGPASSWORD={{ promscale_postgres_password }}
PROMSCALE_DB_CONNECTIONS_MAX={{ promscale_db_connections_max }}
