apiVersion: operator.victoriametrics.com/v1beta1
kind: VMScrapeConfig
metadata:
  name: jenkins
  namespace: internal-monitoring
  labels:
    storpool.com/env: production
spec:
  honorLabels: true
  path: /prometheus
  staticConfigs:
{% for host in groups['jenkins_hosts'] %}
    - targets:
        - jenkins.storpool.net
      labels:
        instance: "{{host}}""
        location: "{{ hostvars[host]['location'] | default('undefined') }}"
        environment: production
{% endfor %}
